// Body
$body-bg: rgb(15, 19, 25);
$body-color: #aaa;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color1: rgb(20,29,44);
$color2: rgb(17,23,35);
$border-color: rgb(31,40,57);
// $primary: $color1;
$secondary: $color2;
$warning: rgb(113,98,38);

$link-color:  #fff;