@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
html{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    width: 100%;
}
.card{
    background-color: $color1;
    .card-header{
        background-color: $color2;
    }
}
.editor-container{
    position: absolute;
    width: 100%;
    height: 100%;
    .editor-container-left{
        position: absolute;
        top: 66px;
        left: 15px;
        height: calc(100% - 81px);
        background-color: $color2;
        width: 66.66%;
        border: 1px solid $border-color;
    }
    .editor-container-left{
        position: absolute;
        top: 66px;
        left: 15px;
        height: calc(100% - 81px);
        background-color: $color2;
        width: calc(66.66% - 15px);
        padding: 15px;
    }
    .editor-container-right{
        position: absolute;
        top: 66px;
        right: 15px;
        height: calc(100% - 81px);
        background-color: $color1;
        width: calc(33.33% - 30px);
        border: 1px solid $border-color;
    }
    .editor-filter{
        padding: 15px;
        background: $body-bg;
        border: 1px solid $border-color;
        margin-bottom: 15px;
    }
}
.switch{
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
    margin-bottom: 0;
    .slider-icon-holder{
        background-color: $color1;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 30px;
        -webkit-transition: .4s;
        -ms-transition: .4s;
        transition: .4s;
        &:before{
            background-color: #fff;
            bottom: 4px;
            border-radius: 50%;
            content: "";
            height: 16px;
            left: 4px;
            right: inherit;
            position: absolute;
            -webkit-transition: .4s;
            -ms-transition: .4s;
            transition: .4s;
            width: 16px;
        }
    }
    input{
        display: none;
        &:checked + .slider-icon-holder{
            background: $warning;
            &:before{
                -webkit-transform: translateX(25px);
                -ms-transform: translateX(25px);
                transform: translateX(25px);
            }
        }
    }
}
        
      
.greeting{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/images/greeting_face.png);
}
.form-control, .form-control:focus,.form-control[disabled]{
    background-color: $color1;
    color: #fff;
}
.navbar-dark{
    background-color: $color1;
}
.full-height{
    height: 100vh;
}
hr{
    border-top-color: #999;
}
.uploader-area{
    border: 1px dashed #666;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    .uploader-data{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        transform: translate(-50%, -50%);
    }
    &.dragover {
        border-style: solid;
    }
}
.fake-file{
    margin-bottom: 0;
    [type="file"]{
        display: none;
    }
}
#loader {
    display: block;
    position: relative;
    z-index: 100;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}