<template>
    <div class="editor-container">
        <nav class="navbar navbar-expand-md navbar-dark shadow-sm mb-4">
            <div class="container">
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <label class="btn btn-sm btn-primary fake-file">
                        Загрузить фото
                        <input type="file" @change="fileHandler">
                    </label>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Мои файлы</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item" :class="{active: work.id == activeWork.id}" v-for="work in user.works" :key="work.id" @click.prevent="selectWork(work)">{{work.original.name}}</div>
                            </div>
                        </li>
                        <li v-if="activeWork && activeWork.modified">
                            <a href="#" @click.prevent="toggleImage" class="nav-link"><span :class="{'text-success': showOriginal}">Оригинал</span> / <span :class="{'text-success': !showOriginal}">Обработанное</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" @click.prevent="logout" class="nav-link">{{user.email}} <i class="fa fa-sign-out"></i></a>
                        </li>
                        <li v-if="user.admin" class="nav-item"><a href="/admin" class="nav-link">Администрирование</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="editor-container-left">
            <div :class="{dragover: over}" class="uploader-area text-center" :style="style" @dragover.prevent="over = 1" @dragleave.prevent="over = 0" @drop.stop.prevent="drop">
                <div id="loader" v-if="loading"></div>
                <div class="uploader-data" v-if="!file && !activeWork">
                    <i class="fa fa-image d-block mb-3" style="font-size: 32px"></i>
                    <label class="btn btn-sm btn-primary fake-file">Загрузить фото <input ref="file" type="file" @change="fileHandler"></label>
                </div>
            </div>
        </div>
        <div class="editor-container-right">
            <nav class="nav nav-pills flex-column flex-sm-row py-1" style="border-top: 1px solid #fff; border-bottom: 1px solid #fff;">
                <a href="#" class="flex-sm-fill text-sm-center nav-link" v-for="cat in categories" :key="cat.id" :class="{active: activeTab.id == cat.id}" @click.prevent="activeTab = cat">{{cat.name}}</a>
            </nav>
            <div class="p-3">
                <ul>
                    <li v-for="(error, i) in errors" :key="i" class="text-danger">{{error}}</li>
                </ul>
                <div v-for="filter in activeTab.filters" :key="filter.id">
                    <p>Баланс: {{q[filter.id] ? q[filter.id] : 0}} фото</p>
                    <div class="editor-filter d-flex justify-content-between">
                        <span>{{filter.name}}</span>
                        <label class="switch">
                            <input type="checkbox" v-model="filters[filter.id]" :disabled="!q[filter.id] || q[filter.id] < 1 || !activeWork">
                            <div class="slider-icon-holder"></div>
                        </label>                
                    </div>
                </div>
            </div>
            <div class="px-3 text-center"><button class="btn btn-warning" :disabled="!activeWork" @click="toggleModal">Обработать и скачать</button></div>
        </div>
        <div class="modal fade" id="warning" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Внимание</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <p>После обработки, количество доступных фото для обработки сократиться. Если вы загрузили нужное фото для обработки, нажмите "<b>продолжить</b>""</p>
                    <label class="mb-0"><input type="checkbox" v-model="disableModal" @change="disableModalHandler"> Не показывать больше</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" @click="modify">Продолжить</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user', 'categories'],
        data(){
            return {
                file: null,
                original: false,
                result: false,
                activeTab: {},
                filters: {},
                q: {},
                style: {},
                activeWork: false,
                showOriginal: true,
                errors: {},
                over: 0,
                loading: false,
                disableModal: ~~window.localStorage.getItem('disableModal')
            }
        },
        created(){
            this.activeTab = this.categories[0]
            const q = {}
            this.user.filters.forEach( f => {
                q[f.id] = f.pivot.quantity
            })
            this.q = q
        },
        methods: {
            disableModalHandler(){
                window.localStorage.setItem('disableModal', 1)
            },
            async toggleModal(){
                if(this.disableModal) await this.modify()
                else $('#warning').modal('show')
            },
            async modify(){
                this.loading = true
                try{
                    const filters = []
                    for(let key in this.filters) if(this.filters[key]) filters.push(key)
                    const {data} = await axios.post('/update/' + this.activeWork.id, {filters, target: this.showOriginal ? 'o' : 'm'})
                    filters.forEach( f => {
                        if(this.q[f.id] > 0) this.$set(this.q, f.id, this.q[f.id] - 1)
                    })
                    if(this.activeWork) this.user.works.push(data);
                    this.activeWork = data;
                    window.open('/download/' + this.activeWork.id + '/modified');
                }catch(e){
                    this.errors = e.response.data.errors
                }finally{
                    this.loading = false
                }
            },
            async logout(){
                await axios.post('/logout')
                location.reload()
            },
            toggleImage(){
                this.showOriginal = !this.showOriginal
                this.style = {
                    'background-image': 'url(/storage/' + (this.showOriginal ? this.activeWork.original.src : this.activeWork.modified.src) + ')',
                }
            },
            selectWork(work){
                this.activeWork = work
                const filters = {}
                work.filters.forEach( f => {
                    filters[f.id] = true
                })
                this.filters = filters
                this.style = {
                    'background-image': 'url(/storage/' + work.original.src + ')'
                }
            },
            async drop(event){
                this.file = event.dataTransfer.files[0]
                await this.sendFile()
            },
            async fileHandler(e){
                this.file = e.target.files[0]
                await this.sendFile()
            },
            async sendFile(){
                this.loading = true
                const fd = new FormData;
                fd.append('file', this.file)
                try{
                    const {data} = await axios.post('/upload', fd)
                    this.user.works.push(data)
                    this.selectWork(data)
                    this.file = false
                }catch(e){
                    this.errors = e.response.data.errors
                }finally{
                    this.loading = false
                }
            }
        }
    }
</script>
