<template>
    <div>
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <tr>
                    <th colspan="3">Исходное</th>
                    <th colspan="3">Обработанное</th>
                    <th></th>
                </tr>
                <tr v-for="work in works" :key="work.id">
                    <td>{{work.original.name}}</td>
                    <td>{{work.original.created_at}}</td>
                    <td><a href="#" @click.prevent="show(work, 'original')">Смотреть</a></td>
                    <td v-if="work.modified">{{work.modified.name}}</td>
                    <td v-if="work.modified">{{work.modified.created_at}}</td>
                    <td v-if="work.modified"><a href="#" @click.prevent="show(work, 'modified')">Смотреть</a></td>
                    <td colspan="3" v-else>Не обработано</td>
                    <td><a href="#" @click.prevent="download(true)">Скачать</a></td>
                </tr>
            </table>
        </div>
        <div class="modal fade" id="preview" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{activeFile.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div class="modal-body" v-if="activeFile">
                    <img :src="'/storage/' + activeFile.src" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="download">Скачать</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['works'],
    data(){
        return {
            activeFile: false,
            activeWork: false,
            type: false
        }
    },
    methods: {
        show(work, type){
            this.type = type
            this.activeWork = work
            this.activeFile = work[type]
            $('#preview').modal('show')
        },
        download(all){
            if(!all){
                window.open('/download/' + this.activeWork.id + '/' + this.type)
            }else{
                window.open('/download/' + this.activeWork.id + '/original')
                window.open('/download/' + this.activeWork.id + '/modified')
            }
            $('#preview').modal('hide')
        }
    }
}
</script>